/* Note #content works for 2010 theme to override default table settings.  You need to find out what works for your theme */
#wp-calendar td.next,
div.event-calendar td.next {text-align:right;}
div.event-calendar td.prev {text-align:left;}

#content table.boxical {
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	font-size: 12px;
	line-height: 16px;
	border: 0;
	margin-left:auto; margin-right:auto;	
}
#content table.boxical td.today {
	background: #ddd;	
}
#content table.boxical td.day6,
#content table.boxical td.day7 { /* to style the weekend  */
/*	background: #eee;	*/
}
#content table.boxical tbody td.pad {  /* to style the non month boxes */
/*	background: #eee;	 */
}
#content table.smallcalendar,  
table.smallcalendar {
	width: 200px;
}
#content table.largecalendar caption { 
		font-weight: bold;
		font-size: 1.2em;
		padding: 5px;
}	
#content table.smallcalendar tbody td {
	background: #f5f5f5;
	border: 1px solid #fff;
	padding: 3px 0 2px;
	text-align: center;	
}
#content table.largecalendar tbody td {
	height:100px; /* it will expand if necessary */
}

#content table.largecalendar  td.views{
	text-align: right;
}
#content table.largecalendar .navigation form{ 
	display: inline;
	padding: 0 8px;
}
#content table.largecalendar .navigation input,
#content table.largecalendar .navigation select{ 
	margin: 0;
	line-height: 14px;
	font-size: 12px;
}
#content table.largecalendar  .navigation a { 
	padding-left: 8px;
	font-weight: bold;
}
#content table.boxical tr th,
#content table.boxical tr td {
	padding: 3px;
}
#content table.boxical thead tr th {
	text-align: center;
}
#content table.boxical td a {
	text-decoration: none;
}
#content table.boxical tfoot tr td,		 
#content table.boxical tfoot tr {
	border: none;
}	
#content table.boxical  div.event a: hover {
	
}

/* unfortunately we need to use divs to hide the details if we want to allow html in details and keep html valid */
/* ------------------------------  hide the details until we want them -----------*/
#content table.boxical td div.event div.details2{ /* hide column 2 */
	display: none;
}
#content table.boxical div.event:hover  div.details2 {
        color:#333333; 
        background:#ffffff; 
        display:block;
        position:absolute; 
        margin-top: 12px; 
		margin-left: 50px;
        padding:10px; 
        width:200px; 
        z-index:100;
		border: 1px solid #000000;
        }
#content table.boxical div.event:hover  div.details2 {
	display: block;
         }
#content table.boxical div.event:hover  div.details2 img {
	width: 200px;  /* make any images smaller */
         }		
#content table.boxical td.endweek div.event:hover  div.details2 {  /* shift the last column right side over a bit so it fits on the page*/
		margin-left: -110px;
        }		 
/* -----------------------------------------------------------------*/		 
#content table.boxical td div.event { /* use this if you want to force each event to take one line only */
 /*       overflow: hidden;
	  height: 16px;    */
       }	
#content table.largecalendar tbody td div.day	    { /* use this if you want to force each box to be a fixed size - day div required becuase cannot force a td height  */
 /*     height: 66px; 
	  overflow: hidden;	   */
 }
 #content table.largecalendar tbody td:hover div.day { /* and then use this to see the day box on hover - confusing with too manu hover's though, so maybe do not use desc hover then */
/*	position: absolute;
	border: 1px solid #000000;
	padding: 10px;
	background: #eee; 
	overflow: visible;
	z-index:100; */
} 
	 